@{
    ViewBag.Title = "Sobre";
}
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TFOQ - TÁ FALTANDO O QUÊ ?</h1>
    <p class="lead">
        O aplicativo consiste em um simples repositório para gerenciar mantimentos domésticos e mostrar o que acabou e o que é necessário repor.
    </p>
</div>

