
@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro de Tipos</h2>

<div class="form-group row">

    <div class="col-sm-4">
        <label>Tipo</label>
        <input type="text" id="tipo" class="form-control" MaxLength="15" />
    </div>
    <div class="col-sm-6">
        <label>Nome</label>
        <input type="text" id="Nome" class="form-control" MaxLength="15" />
    </div>
</div>




<div class="form-group row">



    <div class="col-sm-5">
        <label>Tags</label>
        <input onchange="CalculaPercentual()" type="text" id="capacidade" class="form-control" MaxLength="15" />

    </div>
    <div class="col-sm-2">
        <label>Obrigatório</label>

        <select class="form-control" id="repor" required>
            <option selected></option>
            <option>Sim</option>
            <option>Não</option>


        </select>
    </div>





</div>


<button onclick="Salvar()" type="button" class="btn btn-primary">Salvar</button>



<a href="/Tipo/index" class="btn btn-primary">Voltar</a>




<script>
    function Salvar() {
        var tipo = new Object();
        tipo.NomeTipo = $('#id').val();
        tipo.o = $('#id').val();


        $.ajax({
            type: "POST",
            url: "/mantimento/Add",
            data: mantimento,
            dataType: 'json',
            success: function (obj) {
                alert(obj);
                location.href = '/mantimento';
            },
            error: function (error) {
            }
        });
    }
    function CalculaPercentual()
    {
        var capacidade = parseFloat($('#capacidade').val());
        var conteudoAtual = parseFloat($('#conteudo').val());
        var percentual = ((conteudoAtual / capacidade) * 100);
        $('#percentual').val(percentual);
    }
</script>




